<link href="~/css/chat/chat_users.css" rel="stylesheet" />
<script src="~/js/chat/user_manager.js"></script>
<script>
    $(document).ready(function () {
        userManager.init("@User.Identity.Name");
    });
</script>

<div class="chat-users">
    <div id="container">
        <ul id="tabs">
            <li id="all" class="active">All</li>
            <li id="offline">Offline</li>
            <li id="online">Online</li>
        </ul>

        <div id="card">
            <input id="search" type="text" placeholder="  Search">
            <div id="main">
                <ul id="users"></ul>
            </div>
        </div>
    </div>
</div>
