<link href="~/css/chat/chat_messaging.css" rel="stylesheet" />
<script src="~/js/chat/chat_messaging.js"></script>
<script src="~/js/signalr/signalr-client-1.0.0-alpha2-final.js"></script>
<script src="~/js/signalr/signalr-msgpackprotocol-1.0.0-alpha2-final.js"></script>
<script src="~/js/crypto/crypto-js.min.js"></script>
<script src="~/js/crypto/aes_manager.js"></script>
<script>
    $(document).ready(function ()
    {
        messagingManager.init("@User.Identity.Name");
        aesManager.init();
    });
</script>

<div class="chat_window">
    <div class="top_menu">
        <div class="buttons">
            <div class="button close"></div>
            <div class="button minimize"></div>
            <div class="button maximize"></div>
        </div>
        <div class="title">
            Chat
        </div>
    </div>

    <ul class="messages message-content-box"></ul>

    <div class="bottom_wrapper clearfix">
        <div class="message_input_wrapper">
            <input class="message_input" id="inputMessage" placeholder="Type your message here..." />
        </div>
        <div id="btnSendMessage">
            <div class="icon"></div>
            <div class="text">
                Send
            </div>
        </div>
    </div>

</div>

<div class="message_template">
    <li class="message">
        <div class="avatar"></div>
        <div class="text_wrapper">
            <div class="text"></div>
        </div>
    </li>
</div>