<div class="chat_window">
    <div class="top_menu">
        <div class="buttons">
            <div class="button close"></div>
            <div class="button minimize"></div>
            <div class="button maximize"></div>
        </div>
        <div class="title">
            Chat
        </div>
    </div>

    <ul class="messages message-content-box"></ul>

    <div class="bottom_wrapper clearfix">
        <div class="message_input_wrapper">
            <input class="message_input" id="inputMessage" placeholder="Type your message here..." />
        </div>
        <div id="btnSendMessage">
            <div class="icon"></div>
            <div class="text">
                Send
            </div>
        </div>
    </div>

</div>

<div class="message_template">
    <li class="message">
        <div class="avatar"></div>
        <div class="text_wrapper">
            <div class="text"></div>
        </div>
    </li>
</div>

<audio style="display: none" controls="controls" id="notify_new_message">
    <source src="~/audio/notification.mp3" type="audio/mpeg" />
</audio>
<audio style="display: none" controls="controls" id="notify_modal">
    <source src="~/audio/notificationModal.mp3" type="audio/mpeg" />
</audio>