<link href="~/css/chat/chat_manager.css" rel="stylesheet" />

<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/js/chat/chat_manager.js"></script>
<script>
    $(document).ready(function () {
        chatManager.init();
    });
</script>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="chat-content">
    <div class="chat-message-content">
        @Html.Partial("~/Views/Chat/_ChatMessage.cshtml")
    </div>
    <div class="chat-user-content">
        @Html.Partial("~/Views/Chat/_ChatUsers.cshtml")

    </div>
</div>