.confirmation-modal {
    font-family: "Helvetica";
    display: none;
}

    .confirmation-modal .button {
        background-color: #121212;
        border-radius: 4px;
        color: #fff;
        cursor: pointer;
        display: inline-block;
        font-size: 0.9em;
        letter-spacing: 0.1em;
        padding: 24px 12px;
        text-transform: uppercase;
    }

    .confirmation-modal .showtime {
        opacity: 1 !important;
        visibility: visible !important;
    }

    .confirmation-modal .modal-exit {
        border-radius: 20px;
        width: 99%;
        margin: 1em;
        display: inline-block;
        background-color: #f2f2f2;
        border-radius: 4px;
        border: 1px solid #dcdcdc;
        box-shadow: 0px 0px 72px rgba(0, 0, 0, 0.18);
        box-sizing: border-box;
        color: #484848;
        opacity: 0;
        transform: translateY(24px);
        transition: transform 0.14s, opacity 0.14s ease-in-out;
        visibility: hidden;
        z-index: 10;
    }

        .confirmation-modal .modal-exit.showtime {
            transform: translateY(0);
        }

    .confirmation-modal .modal-exit-content {
        padding: 24px;
        text-align: center;
    }

    .confirmation-modal .modal-exit-title {
        -webkit-font-smoothing: antialiased;
        font-size: 0.8em;
        font-weight: 600;
        letter-spacing: 0.1em;
        padding-bottom: 12px;
        text-transform: uppercase;
    }

    .confirmation-modal .modal-exit-desc {
        -webkit-font-smoothing: antialiased;
        font-size: 0.9em;
        font-weight: 400;
        letter-spacing: 0.04em;
        line-height: 1.6;
    }

    .confirmation-modal .modal-button {
        -webkit-font-smoothing: antialiased;
        border-right: 1px solid #dcdcdc;
        border-top: 1px solid #dcdcdc;
        box-sizing: border-box;
        cursor: pointer;
        display: inline-block;
        float: left;
        font-size: .7em;
        font-weight: 600;
        letter-spacing: .09em;
        padding: 18px;
        text-align: center;
        text-transform: uppercase;
        transition: background-color 0.14s, color 0.14s ease-in-out;
        width: 50%;
    }

        .confirmation-modal .modal-button:last-child {
            border-right: none;
        }

        .confirmation-modal .modal-button:hover {
            background-color: #fff;
            color: #121212;
        }