.message-box {
        width: 100%;
        height: 100%;
        margin: auto;
        background-color: #f3f3f3;
        display: inline-block;
    }

    .message-box .message-content-box {
            height: 70%;
            overflow-y: scroll;
        }

        .message-box .message-content-box .dvMessage {
                width: max-content;
                margin: 2%;
                border-radius: 9px;
                font-size: 1.5vw;
                text-align: center;
                color: white;
                background-color: #49acca;
            }

        .message-box .message-content-box .spnMessage {
                display: block;
                text-align: -webkit-auto;
            }

    .message-box .message-footer-box {
            height: 20%;
            float: left;
        }

        .message-box .message-footer-box textarea {
                width: 100%;
                height: 100%;
                max-height: 100% !important;
                min-height: 100% !important;
                max-width: 80% !important;
                min-width: 80% !important;
                resize: none;
                float: left;
            }

        .message-box .message-footer-box button {
                width: 20%;
                height: 100%;
                color: #fff;
                background-color: #46b8da;
                border-color: #46b8da;
            }
