@model SSMessage.ViewModel.ConfirmationViewModel

<link href="~/css/confirmation/confirmation-modal.css" rel="stylesheet" />

<script>
    $(document).ready(function () {
        confirmationManager.init();
    });
</script>

<div id="user_confirmation" class="confirmation-modal">
    <div id="modalExit" class="modal-exit showtime">
        <div class="modal-exit-content">
            <div class="modal-exit-title">Connection Request</div>
            <div class="modal-exit-desc">You start a new conversation with<span id="user_confirmation_box"></span></div>
            <div class="modal-exit-desc">Please enter Key for encrypt your message!</div>
            <input type="password" id="key_ForEncryption" placeholder="Enter your key ..."/>
        </div>
        <div id="modalCancel" class="modal-button">
            Cancel
        </div>
        <div id="modalConfirm" class="modal-button">
            Confirm
        </div>
    </div>
</div>

<script src="~/js/confirmation/confirmation-modal.js"></script>
