<div class="connecting">
    <div class="text" id="text-box-conection-status">
        CONNECTING
    </div>
    <div class="box">
        <div class="left-connection-block">
            <div class="comp-left"></div>
            <div class="loader loader-left"></div>
        </div>
        <div class="con"></div>
        <div class="right-connection-block">
            <div class="comp-right"></div>
            <div class="loader loader-right"></div>
        </div>
    </div>
</div>